

.form-box{
  min-width: 70vw;
  height: 60vh;
  /*border: dotted #F55A00 5vw;*/
  /* border: 1px solid red; */
  margin: 0vw;
  padding: 2vw ;
  position:relative; 
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

.form-box label{
  display: block;
  text-align: left;
  color:  #1233ff;
}

.form-box input {
  display: block;
  width: 100%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0 ;
  border:0.5;
  border-radius: 5px;
  border-color:  #1233ff;
  font-size: 20px;
}

.form-box textarea {
  display: block;
  width: 100%;
  padding: .5rem .8rem .5rem .8rem;
  margin: 1vw 0 ;
  border:0.5;
  border-radius: 5px;
  border-color:  #1233ff;
  font-size: 20px;
  height: 12vh;
}

.button{
  color:  whitesmoke;
  background-color:#1233ff;
}


